@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@font-face {
  font-family: "inter";
  src: url("inter.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "inter", system-ui, sans-serif;
}
